p{
    margin: 15px 0;
}
/*博客图标*/
div.top-bkg-color {
	width: 200%;
	height: 255px;
	position: absolute;
	margin: -60px 0 0 -30%;
	background: #A7CDFE;
	background-image: url(../images/Milkeyway.jpg);
	background-position: 30% 50%;
	background-repeat: no-repeat;
	z-index: 1;
	transform: rotate(3.2deg);
	-webkit-transform: rotate(3.2deg);
	box-shadow: 2px 2px 5px #888888;
}
p#blog-title{
	margin: 0;
	padding: 20px 20px;
	/*background: #139385;*/
	font-size: 30px;
	position: relative;
	z-index: 3;
	/*border-top: 1px solid #D9D9D9;*/
	/*border-left: 1px solid #D9D9D9;*/
	/*border-right: 1px solid #D9D9D9;*/
	text-decoration: none;}
	p#blog-title a{
		text-decoration: none;
		color: #fff;
		font-weight: bold;
		text-shadow: 2px 2px 5px #888888;
		/*text-shadow: 0.1px 1px 2px #139385;*/
	}

/*网站喇叭*/
p.laba{
	margin: 0;
	height: 70px;
	padding: 5px 0;
	/*background: #139385;*/
	position: relative;
	z-index: 3;
	color: #fff;
	font-weight: bold;
	padding-left: 12px;
/*	border-left: 1px solid #D9D9D9; 
	border-bottom: 1px solid #D9D9D9;
	border-right: 1px solid #D9D9D9;
    box-shadow: 2px 2px 5px #888888;*/
}

/*导航栏*/
div.navbar{
	height: 25px;
	position: relative;
	z-index: 3;
	border: 1px solid #D9D9D9
}
	.navbar-ul{
		padding-left: 10px;
		height: 100%;
		margin: 0;
		list-style: none;}
	.navbar-ul li{
		float: left;
		line-height: 0;
		height: 25px;}
	.navbar-ul a{
		padding: 1px 10px 2px 10px;
		line-height: 25px;
		font-size: 16px;
		font-weight: bold;
		color: #fff;
		text-decoration: none;}
	.navbar-ul a:hover{
		text-shadow: 2px 2px 5px #888888;
	}

/*搜索栏*/
form.search{
	position: relative;
	z-index: 3;
}
	.search input{
		height: 18px;
		float: right;
		margin: 0;
	}
div.recently-doing {
	height: 300px;
	text-align: center;}
	.recently-doing a{
		margin-top: 130px;
		display: inline-block;
		width: 160px;
		height: 60px;
		font-size: 36px;
		border: 2px solid #346EB7;
		border-radius: 8px;
		text-decoration: none;
	}

div.index-img-box {
	width: 100%;
	height: 300px;
	margin: -10px 0 200px 0;}
	div.index-img-box-bkg{
	width: 200%;
	height: 300px;
	margin-left: -50%;
	position: absolute;
	overflow: hidden;
	z-index: 1;
	transform: rotate(3.2deg);
	-webkit-transform: rotate(3.2deg);
	box-shadow: 2px 2px 5px #888888;
	}
	div.index-img {
		margin: -100px 0 0 0;
		width: 100%;
		height: 600px;
		position: relative;
		z-index: 4;
		background: #A7CDFE;
/*		background-image: url(../images/Milkeyway.jpg);
		background-position: 50% 30%;*/
		transform: rotate(-3.2deg);
		-webkit-transform: rotate(-3.2deg);
	}
	div.infomation-box {
		text-align: center;
		position: relative;
		z-index: 5;}
		p.title{
			display: inline-block;
			font-size: 40px;
			color: #fff;
			background: #A7CDFE;
			text-shadow: 2px 2px 5px #888888;
		}
		p.blog-infomation{
			margin: 0;
			display: block;
			text-align: center;
			height: 60px;
			color: #fff;
			font-size: 25px;
			text-shadow: 2px 2px 5px #888888;
		}



div.article-box {
}

/*文章标签栏*/
div.tag-box {
    margin: 0;
    width: 100%;
}
div.tag-color-bkg {
	width: 200%;
	height: 0px;
	position: absolute;
	margin-left: -50%;
	background: #f6f6f6;
	z-index: 1;
	transform: rotate(4.2deg);
	-webkit-transform: rotate(1.9deg);
}
div#tag{
	background: #f6f6f6;
	padding: 6px 6px;
	position: relative;
	z-index: 3;
    text-align: center;
    box-shadow: 2px 2px 5px #888888;
    
}
	div.one-tag {
		display: inline-block;
		padding: 2px;
		margin-bottom: 5px;
		border-radius: 6px;
		border: 1px solid #ccc;
	}
		img.tag-img {
			width: 20px;
			height: 20px;
			margin-right: -2px;
			vertical-align: top;
			border: 1px solid #ccc;
			border-radius: 50%;
			background: #fff;
		}
		div.one-tag a{
			display: inline-block;
			width: 85px;
			color: #999;
			text-decoration: none;
			/*background: #fff;*/
			white-space: nowrap;
			text-align: center;
		}
		div.one-tag:hover{
			box-shadow: 2px 4px 5px #888888;
		}



p.div-tag{
	/*display: inline-block;*/
	width: 80px;
	margin-left: 20px;
	margin-bottom: 0px;
	border-left: 2px dashed #ccc;
	border-top: 2px dashed #ccc;
	border-right: 2px dashed #ccc;
	color: #ccc;
	position: relative;
	z-index: 3;
	text-align: center;
}

/*文章列表*/
div#articles{
	position: relative;
	z-index: 3;
    padding: 0 0 1px 0;
    box-shadow: 2px 2px 5px #888888;
}
	div.pre-one{
		padding: 0 0 5px 0;
		background: #fff;
		border: 1px solid #CCC;
	}
	header.pre-header{
		margin: 0 10px;
	}
	p.pre-title{
		margin-left: -10px;
		padding: 1px 10px;
		display: inline-block;
		font-size: 18px;
		background: #A7CDFE;
		text-shadow: 2px 2px 5px #888888;
	}
	p.pre-title a {
		color: #fff;
	}
	p.pre-details{
		margin: 0;
	}
		.pre-details span{
			color: #ccc;
		}
		.pre-details a {
			text-decoration: none;
		}
	div.part-text{
		margin: 0px 10px;
		min-height: 100px;
		max-height: 387px;
		font-size: 10px;
		text-overflow: ellipsis;
		/*white-space:nowrap;*/
		overflow:hidden;
	}
	a.btn-more{
		padding: 2px 6px;
		margin: 15px 10px 0 10px;
		color: #999;
		border: 1px solid #ccc;
		text-decoration: none;
	}
	p.page{
		margin-left: auto;
		margin-right: auto;
		text-align: center;
	}
		.page span{
			background: #fff;
			color: #999;
			width: 60px;
			display: inline-block;
		}
		a.go-page{
			color: #999;
			text-decoration: none;
		}
		a.go-page:hover::before{
			content: "[";
		}
		a.go-page:hover::after{
			content: "]";
		}

/*文章正文*/
article{
	background: #fff;
	padding: 0 20px;
	font-family: ComicsansMs;
	min-height: 400px;
	margin-top: 0px;
	position: relative;
	z-index: 3;
	box-shadow: 2px 2px 5px #888888;
	border: 1px solid #D9D9D9;}
	p.comment_i{
		float: right;
	}
	.comment_i span{
		color: #139385;
		font-size: 35px;
	}
	p.article_detail{
		margin-top: -10px;
	}
	.article_detail span{
		margin: 0;
		color: #999;
		font-size: 14px;
	}
	div.access-pwd{
		text-align: center;
		margin-top: 100px;
	}
	span.article-class{
	}
	span.article-date{
		margin-right: 40px;
	}

/*评论*/
div.comment{
	padding: 5px 0;
	background: #f6f6f6;
	border: 1px solid #D9D9D9;
	box-shadow: 2px 2px 5px #888888;}
	div.one-comment{
		margin: 5px 10px;
	}
		header.one-comment-header{
			border-bottom: 1px solid #139385;
		}
		img.one-comment-head-img{
			width: 40px;
			height: 40px;
			border: 1px solid #ccc;
			border-radius: 50%;
		}
		p.one-comment-text{
			padding: 5px 10px;
		}
	div.comment-post{
		padding: 5px 10px;}
		textarea.commenttext{
	    	width: 100%;
	    	height: 110px;
	    	resize: none;
	    	margin: 5px 0 0 0;
	   		border-color: #D9D9D9;
		}
		div.input{
			height: auto;
		}
			input.commentuser{
		    	margin: 0;
				color: #139385;
				font-size: 16px;
		    	height: 26px;
			}
			input.commentemail{
				right: 0;
		    	margin: 0 5px 0 0;
				color: #139385;
				font-size: 16px;
		    	height: 26px;
			}
			div.post-btn{
				margin-top: 0.5px;
				float: right;
				}
				input.btn-submit{
					border-radius: 1px;
					width: 60px;
					height: 29px;
					background: #E33531;
					border: none;
				}

/*关于页面*/
div.about{
	height: 300px;
	background-position: 50% 50%;
	background-attachment: fixed;
}

div#footer{
	text-align: center;
	background: #f6f6f6;
	z-index: 2;
}
	#footer p, img{
		margin: 0;
		position: relative;
		z-index: 2;
    	color: #D9D9D9;
	}
	img.my-ico{
		float: left;
		width: 90px;
		height: 90px;
	}
	#about-me p{
		margin: 0;
	}
	.footer-color-bkg{
		width: 200%;
		height: 50px;
		margin: -25px 0 0 -50%;
		position: absolute;
		z-index: 1;
		background: #139385;
		transform: rotate(2.2deg);
		-webkit-transform: rotate(2.2deg);
	}
	img.github-logo{
		height: 28px;
		width: 28px;
	}


*{
	padding: 0;
	margin: 0;
}