/*This is my comment*/
a:link {
 text-decoration: none;
}

div#bkgdiv{ 
position:fixed; 
top:0; 
left:0; 
bottom:0; 
right:0; 
z-index:-1; 
} 

div#bkgdiv > img { 
height:100%; 
width:100%; 
border:0; 
} 

a {
    font-size: 16px;
}

body {
    font-size: 15px;
    font-weight:bold
}

code {
    font-size: 14px;
    font-weight:bold

}
pre {
    font-size: 14px;
    font-weight:bold
}
pre code {
    font-size: 14px;
    font-weight:bold
}
/*end my comment*/
