<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes">
    <link rel="stylesheet" type="text/css" href="../static/default/Clearness.css">
    <link rel="stylesheet" type="text/css" href="../static/link.css">
    <link rel="stylesheet" type="text/css" href="../static/footer.css">
    <link rel="stylesheet" type="text/css" href="../static/textarea.css">
    <!--base target="_blank"-->
    {% if title %}
    <title>简单| {{title}}</title>
    {% else %}
    <title>简单| BOMD®</title>
    {% endif %}
</head>
<body >
    <div id="content">
    <div id="main">

        <a href="/index" target="_self"><h1>✑︎简单|BOMD.</h1></a>
    <div > 
        <b><a href="/index" target="_self">首页</a></b>
        <b><a href="/articles" target="_self">博文</a></b>
        <b><a href="/resources" target="_self">资源</a></b>
        <b><a href="/about" target="_self">关于</a></b>
        
        {% if user %} 
        <b><a href="/userzone?name={{user}}">{{user}}</a></b>
        <b><a href="/logout" target="_self">注销</a></b>
        {% else %}
		{% endif %}
</div><hr>

    
    {% block content %}{% endblock %}
        </div>
    <div id="footer">
    <hr>
        @ 2015 BOMD. by Importcjj
    </div>
</div>
    </body>
</html>